<!DOCTYPE html>
<html>
<head>
  <title>Bloog</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="sidebar two columns">
  <nav>
    <ul>
      <li><%= link_to "New post...", new_post_path %></li>
    </ul>
  </nav>
</div>

<%= yield %>

</body>
</html>
